# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* popular libraries for data sience
* data sience open source tools

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL server

# Some of the commonly used libraries used by Data Scientists include:
1. matplotlib
2. numpy
3. pandas
4. scikit-learn

|Data Science Tools|
--------------------
 |RStudio|
 |Apache Spark|
 |TensorFlow|
--------------------

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Hossein Abolghasemzadeh